<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="zhenzhen.jiang@gmail.com">
  <style>
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }
  </style>
  <!--link rel="icon" href="../../favicon.ico"-->

  <title>DynamicTeam - Dashboard</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
  <!-- Custom styles for this template -->
  <link ref=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="/static/jquery.min.js"></script>
</head>
<body role="document">
{{ content }}
</body>
</html>
