<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="zhenzhen.jiang@gmail.com">
  <style>
  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }
  /*ul.candidate-list li.cand-selected{
    content: "";
    background-color:yellow;
  }*/
  </style>
  <!--link rel="icon" href="../../favicon.ico"-->

  <title>DynamicTeam - Dashboard</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <!--link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css"-->
  <!--link rel="stylesheet" href="/resources/demos/style.css" /-->
  <!-- Custom styles for this template -->
  <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"-->
  <script src="/static/js/dt_cfg.js"></script>
</head>
<body role="document">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Dynamic Team</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">OverView</a></li>
          <li id="nav-printroom"><a href="/printroom">PrintRoom</a></li>
          <li id="nav-redo" class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" href="#">Redo<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('add_redo') }}">Add Redo</a></li>
              <li><a href="{{ url_for('view_redo') }}">Redo List</a></li>
    

            </ul>
          </li>
          <li id="nav-blanklist"><a href="/blanklist">BlankList</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right" >
          <input type="text" class="form-control" name="view" placeholder="Search...">
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container theme-showcase" role="main">
    {% for message in get_flashed_messages() %}
      <div class='flash'>{{ message }} </div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
  <script src="/static/js/bootstrap.min.js"></script>
  <!--script src="../../assets/js/docs.min.js"></script-->
</body>
</html>
