{% extends "layout.html" %}
{% block body %}
<script>
var selected_printer = "";
function sendjob(taskid){
  var fabric = $($("li#list-task-"+taskid+">div>span")[1]).text();
  var sheetJob = (fabric=="SHEETS")||(fabric=="SHEETL");
  $.post("{{ url_for('sendjob') }}", 
    {
      taskid:taskid,
      printerid: (sheetJob?"NZ":"")+selected_printer
      }, function(){
        window.location.href = "{{ url_for('show_tasks') }}";
      });
}

function sendBatchJobs(printer){
  var checked = $("#tasks input.select-task:checked");
  var ids = [];

  if (checked.length==0)
    return;

  for ( var i=0; i<checked.length; i++){
    ids.push(checked[i].value);
  }
  var fabric = $($("li#list-task-"+ids[0]+">div>span")[1]).text();
  $.post("{{ url_for('sendbatchjob') }}", {
      taskids:ids.join(','),
      printerid: (fabric.substr(0,5)=="SHEET"?"NZ":"")+printer
    }, function(){
      window.location.href = "{{ url_for('show_tasks') }}";
    });
}

function deletejob(taskid, printer){
  $.post("{{ url_for('deletejob') }}", 
    {
      taskid:taskid,
      }, function(){
      window.location.href = "{{ url_for('show_tasks') }}";
      });
}

function makeJobDone(e, taskid, done){
  $.post("{{ url_for('set_printdone') }}", 
    {
      taskid:taskid,
      done:done
      }, function(){
      location.reload();
      });
  e.stopPropagation();
  return true;
}

function reprint_sheets(taskid, printer){
  var fabric = $($("li#list-task-"+taskid+">div>span")[1]).text();
  var sheetJob = (fabric=="SHEETS")||(fabric=="SHEETL");
  var req = {
    printerid:(sheetJob?"NZ":"")+printer,
              sheets:""
  }
  var sheets = [];
  var checkboxs = $("#sheets-panel-"+taskid + " .select-sheet");
  for ( var i=0; i<checkboxs.length; i++){
    if (checkboxs[i].checked==true)
      sheets.push(checkboxs[i].id);
  }
  req.sheets = sheets.join(",");
  $.post("{{ url_for('printsheets') }}", req,
      function(){
      location.reload();
      });
  return 0;
}

function sum_units_up(){
  var totalUnits = [0, 0, 0];
  var counted = [];
  var tasks=$("div.dyt-task-item");
  $.each(tasks, function(idx, value){
      var fields = $(value).children("span");
      var log = $(fields[0]).text();
      var fabric = $(fields[1]).text();
      var units_str = $(fields[3]).text();
      if (units_str && !isNaN(units_str)){
        var units = parseInt(units_str)
        if (~log.indexOf('redo')){
          totalUnits[2] += 1;//units;
        }else if (!~counted.indexOf(log)){
          if (fabric.indexOf("SHEET")==0){
            totalUnits[0] += units;
          }
          else{
            totalUnits[1] +=units;
          }
          counted.push(log);
        }
      }
    });
  return totalUnits;
}

function ApplyF(e){
  var filter = e.target.value;
  var tasks=$("li.list-group-item");
  $.each(tasks, function(idx, value){
    if (idx==0){
      return;
    }
    var fields = $(value).find("div>span");
    var log = $(fields[0]).text();
    if (~log.indexOf(filter)){
      $(tasks[idx]).show()
    }else{
      $(tasks[idx]).hide();
    }
  });
}

$( document ).ready(function() {
    //$('#dyt-total-units').text("Total Units: "+ sum_units_up());
    var unit_count = sum_units_up();
    $('#dyt-total-sheet-units').text("Sheet Units: "+ unit_count[0]);
    $('#dyt-total-roll-units').text("Roll Units: "+ unit_count[1]);
    $('#dyt-total-redo-units').text("Redo Units: "+ unit_count[2]);
    $('#tasks .dyt-task-assigned').attr('disabled', 'disabled');
    $('#tasks .dyt-task-new').attr('disabled', 'disabled');
    $('#tasks .dyt-sheet-reprint').attr('disabled', 'disabled');
    $('#tasks input:checked').attr('checked', false);
    $('#tasks input.select-task[type=checkbox]').removeAttr('disabled');

    $(function() {
      $( "#datepicker" ).datepicker({
        showOn: "button",
        buttonImage: "static/images/calendar.gif",
        buttonImageOnly: true,
        buttonText: "Select date",
        dateFormat:"yy-mm-dd",
        onSelect: function(str){
          window.location.href = "{{ url_for('show_tasks') }}?view="+str;
        }
      });
    });

    $('.navbar-nav li').removeClass('active');
    $('.navbar-nav #nav-printroom').addClass('active');
    $( '#printers .btn' ).on('click', function(){
      var btn = $(this);
      if ( btn.hasClass("btn-success")) {
        btn.removeClass('btn-success').addClass('btn-default');
        $('#tasks .dyt-task-new').attr('disabled', 'disabled');
        $('#tasks .dyt-sheet-reprint').attr('disabled', 'disabled');
        $('#tasks input.select-task[type=checkbox]').removeAttr('disabled');
        selected_printer = null;
      }else {
        if ($( "#tasks input.select-task:checked" ).length){
          sendBatchJobs(btn.attr('id'));
        }else {
          $('#printers .btn-success').removeClass('btn-success').addClass('btn-default');
          btn.addClass('btn-success');
          $('#tasks .dyt-task-new').removeAttr('disabled');
          $('#tasks .dyt-sheet-reprint').removeAttr('disabled');
          $('#tasks input.select-task[type=checkbox]').attr('disabled', 'disabled');
          selected_printer = btn.attr('id');//btn.id;
        }
      }
    });
});
</script>
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">

  <div id="printers" class="row placeholders">
    <h4 class="page-header">Printers</h4>
    <div class="row">
      <div class="col-md-5">
        P-ERS
        <div role="toolbar" class="btn-toolbar">
          <div class="btn-group">
            {% for printer in (1,2,3,20,21,22) %}
            <button class="btn btn-default" id="P-ERS{{ "%02d"|format(printer) }}" type="button">{{ "%02d"|format(printer) }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        P-ER
        <div role="toolbar" class="btn-toolbar">
          <div class="btn-group">
            {% for printer in (1,2) %}
            <button class="btn btn-default" id="P-ER{{ "%02d"|format(printer) }}" type="button">{{ "%02d"|format(printer) }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        P-Mimaki
        <div role="toolbar" class="btn-toolbar">
          <div class="btn-group">
            {% for printer in (25, 26, 27) %}
            <button class="btn btn-default" id="P-Mimaki{{ "%02d"|format(printer) }}" type="button">{{ "%02d"|format(printer) }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      P-E
      <div role="toolbar" class="btn-toolbar">
        <div class="btn-group">
          {% for printer in (4,5,6,8,10,11,13,14) %}
          <button class="btn btn-default" id="P-E{{ "%02d"|format(printer) }}" type="button">{{ "%02d"|format(printer) }}</button>
          {% endfor %}
          <span class="bg-danger">Only 6 can be used for rolls. Use 5 and 13 only for sheets</span>
        </div>
      </div>
    </div>

    <div class="row">
      P-EN
      <div role="toolbar" class="btn-toolbar">
        <div class="btn-group">
          {% for printer in (4,5,7,8,10,11,13,14) %}
          <button class="btn btn-default" id="P-EN{{ "%02d"|format(printer) }}" type="button">{{ "%02d"|format(printer) }}</button>
          {% endfor %}
          <span class="bg-danger">Do not use 7 for sheets</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row placeholders">
    <p class="page-header"></p>
    <div class="row">
      <input type="text" class="col-xs-2" id="log-number" oninput="ApplyF(event);" placeholder="Input To Filter">
    </div>
    <ul class="nav nav-pills" role="tablist">
      {% if view[:3]=='log' %}<li role="presentation"  class="active"><a href="{{ url_for('show_tasks') }}">{{ view }}</a></li> {% endif %}
      <li role="presentation" {% if view=='' %} class="active" {% endif %}><a href="{{ url_for('show_tasks') }}">Waiting<span class="badge">{{ task_counts[0][1] }}</span></a></li>
      {% for i in range(1, 6) %}
        <li role="presentation" {% if view==task_counts[i][0] %} class="active" {% endif %}><a href="{{ url_for('show_tasks') }}?view={{ task_counts[i][0] }}">{{ task_counts[i][0][5:] }}<span class="badge">{{ task_counts[i][1] }}</span></a></li>
      {% endfor %}
      <li><input type="hidden" id="datepicker"></li>
      <li><a href="{{ url_for('show_sheet_tasks') }}" target="_blank">sheet list</a></li>
      <li><a href="{{ url_for('show_roll_tasks') }}" target="_blank">roll list</a></li>
    </ul>
    <ul class="list-group panel-group" id="tasks" >
      <li class='list-group-item list-group-item-info'>
      <div class="row show-grid">
        <span class="col-xs-2">Log</span>
        <span class="col-xs-2">Fabric</span>
        <span class="col-xs-2">Submit Time</span>
        <span class="col-xs-1">Units</span>
        <span class="col-xs-1">Length</span>
        <span class="col-xs-3">Action</span>
        <span class="col-xs-1"></span>
      </div>
      </li>
      {% for task in tasks %}
      <li id="list-task-{{ task.id }}" class='list-group-item panel panel-default'>
      <div class="row show-grid dyt-task-item {% if task.gradient %}bg-success{% endif %}" {% if view!="" %} data-toggle="collapse" data-parent="#tasks" href="#sheets-panel-{{ task.id }}" {% endif %}>
        <span class="col-xs-2">{% if not task.printer %} <input type="checkbox" class="select-task" value="{{ task.id }}">{% endif %} {{ task.log }} {% if task.redo_id %}<a href="/redo?id={{ task.redo_id }}" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a> {% endif %}</span>
        <span class="col-xs-2">{{ task.fabric }}</span>
        <span class="col-xs-2 {% if task.status=='printed' or task.status=='cut' %}label label-success{% endif %}">{{ task.create_at.strftime('%m-%d %H:%M') }}</span>
        <span class="col-xs-1">{{ task.units }}</span>
        <span class="col-xs-1">{{ task.length }}</span>
          {% if task.printer %}
            {% if task.status in ("dispatched", "printed") or task.status in ("cut")  %}
          {% if task.status in ("dispatched", "printed") %}
            <span class="col-xs-3">{{ task.modify_at.strftime('%m-%d %H:%M') }} --&gt; {{ task.printer }}</span>
          {% endif %}
          {% if task.status in ("cut") %}
          <span class="col-xs-3">{{ task.modify_at.strftime('%m-%d %H:%M') }} --&gt; {{ task.printer }} (CUT BY ZUND) </span>
          {% endif %}
            {% else %}
              <span class="col-xs-3"><button type="button" class="btn btn-sm btn-warning dyt-task-assigned">To:{{ task.printer }}</button></span>
            {% endif %}
          {% else %}
          <span class="col-xs-3">
            <button type="button" class="btn btn-sm btn-success dyt-task-new" onclick="sendjob({{ task.id }}, selected_printer);">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-xs btn-danger" onclick="deletejob({{ task.id }});" aria-label="delete">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            {{ task.originPrinter }}
          </span>
          {% endif %}
        <span class="col-xs-1">
            {% if task.status=='dispatched' %}
            <button type="button" class="btn btn-xs btn-info" onclick="makeJobDone(event, {{ task.id }}, 1);" aria-label="done">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </button>
            {% elif task.status=='printed' %}
            <button type="button" class="btn btn-xs btn-danger" onclick="makeJobDone(event, {{ task.id }}, 0);" aria-label="done">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            {% endif %}
        </span>
      </div>
      {% if view!='' %}
      <div id="sheets-panel-{{ task.id }}" class="panel-collapse collapse" >
        <hr class="divider">
        <div>
        <table class="table table-striped" style="height: 0px; margin:5px, 15px, 15px, 25px; border-left: 4px solid #8AC007;">
          <!--caption>Sheets of this task.</caption-->
          <thead>
            <tr>
              <th>Select</th>
              <th>Sheet Name</th>
              <th>Sheet Status</th>
              <th>Printer</th>
            </tr>
          </thead>
          <tbody>
            {% for sheet in task.sheets %}
            <tr>
              <td><input type="checkbox" class="select-sheet" id="{{ sheet.id }}"></td>
              <td>{{ sheet.src }}</td>
              <td>{{ sheet.status }}</td>
              <td>{{ sheet.printer }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        <div class="row show-grid" style="margin:5px; padding-left: 5px;">
          <button type="button" class="btn btn-warning" onclick="$('#sheets-panel-{{ task.id }} .select-sheet').prop('checked', true)">Select All</button>
          <button type="button" class="btn btn-success" onclick="$('#sheets-panel-{{ task.id }} .select-sheet').prop('checked', false)">Clear Selected</button>
          <button type="button" class="btn btn-primary dyt-sheet-reprint col-md-offset-4" onclick="reprint_sheets('{{ task.id }}', selected_printer)">Reprint</button>
        </div>
        <!--hr class="divider">
        {% for sheet in task.sheets %}
        <div>
        <input type="checkbox" id="{{ sheet.id }}">{{ sheet.src }}
        <div>
        {% endfor %}-->
      </div>
      {% endif %}
      </li>
      {% endfor %}
      <li class='list-group-item panel panel-default'>
      <div class="row show-grid">
        <span id="dyt-total-redo-units" class="col-xs-3 col-xs-offset-3">Redo Units: </span>
        <span id="dyt-total-sheet-units" class="col-xs-3">Sheet Units: </span>
        <span id="dyt-total-roll-units" class="col-xs-3">Roll Units: </span>
      </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
